@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#left-ear {
  transform: translate(0,0);
}

#right-ear {
  transform: translate(0,0);
}

#bear #left-ear {
  transition: all .5s linear;
}

#bear #right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: translate(0px, 10px);
}

#bear:hover #right-ear {
  transform: translate(0px, 10px);
}

#left-eye {
  transition: all .5s linear;
  animation: slide 1s infinite alternate linear;
}

#right-eye {
  transition: all .5s linear;
  animation: slide 1s infinite alternate linear;
}

@keyframes slide {
  0% {
  transform: translate(-10px,0px);
  }

  100% {
  transform: translate(10px, 0px);
  }
}
.st0 {
  fill: #673200;
}

.st1 {
  fill: #FFAACA;
}

.st2 {
  fill: #C65B00;
}

.st3 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
